.nt-4{
	background: grey;
	float: left;
	height: 33px;
	width: 33px;
}
.t-7{
	background: green;
	float: left;
	height: 24px;
	margin-left: 6px;
	width: 83px;
}
.li-0{
	margin-top: 6px;
	height: 33px;
}
ul{
	list-style: None;
}
.li-1{
	margin-top: 10px;
	height: 59px;
}
.t-8{
	background: green;
	float: left;
	height: 40px;
	margin-left: 10px;
	width: 249px;
}
.nt-5{
	background: grey;
	float: left;
	height: 58px;
	width: 103px;
}
ul{
	list-style: None;
}
.nt-8{
	background: grey;
	height: 17px;
	margin-top: 5px;
	width: 18px;
}
.t-1{
	background: green;
	height: 6px;
	width: 14px;
}
.nt-7{
	background: grey;
	height: 5px;
	margin-top: -5px;
	width: 15px;
}
.li-2{
	margin-top: 20px;
	height: 24px;
}
ul{
	list-style: None;
}
.t-2{
	background: green;
	height: 13px;
	margin-top: 1px;
	width: 73px;
}
.nt-9{
	background: grey;
	height: 37px;
	width: 78px;
}
.li-3{
	margin-top: 4px;
	height: 37px;
}
ul{
	list-style: None;
}
.nt-6{
	background: grey;
	height: 11px;
	width: 34px;
}
ul{
	list-style: None;
}
.t-0{
	background: green;
	height: 6px;
	width: 26px;
}
ul{
	list-style: None;
}
.nt-3{
	background: grey;
	height: 8px;
	width: 7px;
}
ul{
	list-style: None;
}
.t-6{
	background: green;
	height: 13px;
	width: 76px;
}
ul{
	list-style: None;
}
