.nt-4{
	background: grey;
}
.t-7{
	background: green;
	margin-left: 6px;
}
.nt-5{
	background: grey;
}
.t-8{
	background: green;
	margin-left: 10px;
}
.t-1{
	background: green;
}
.nt-8{
	background: grey;
	margin-top: 5px;
}
.nt-7{
	background: grey;
	margin-top: -5px;
}
.nt-9{
	background: grey;
}
.t-2{
	background: green;
	margin-top: 1px;
}
