.nt-4{
	background: grey;
	width: 33px;
	height: 33px;
}
.t-7{
	margin-left: 6px;
	background: green;
	width: 83px;
	height: 24px;
}
.nt-5{
	background: grey;
	width: 103px;
	height: 58px;
}
.t-8{
	margin-left: 10px;
	background: green;
	width: 249px;
	height: 40px;
}
.t-1{
	background: green;
	width: 14px;
	height: 6px;
}
.nt-8{
	margin-top: 5px;
	background: grey;
	width: 18px;
	height: 17px;
}
.nt-7{
	margin-top: -5px;
	background: grey;
	width: 15px;
	height: 5px;
}
.nt-9{
	background: grey;
	width: 78px;
	height: 37px;
}
.t-2{
	margin-top: 1px;
	background: green;
	width: 73px;
	height: 13px;
}
