ul{
	list-style: None;
	clear: left;
	padding-left: 0;
}#div-2{
	height: 23px;
	width: 89px;
	float: left;
	background: green;
}
#block-1{
	clear: left;
	border: solid 2px black;
	margin-bottom: 11px;
}
.li-4{
	float: left;
	margin-left: 19px;
}
#div-3{
	height: 22px;
	width: 301px;
	float: left;
	background: grey;
	margin-left: 23px;
}
#ul-4{
	clear: none;
	float: left;
	padding-left: 76px;
}
.nt-6{
	height: 11px;
	background: grey;
	width: 34px;
}
.li-5{
	float: left;
	margin-left: 18px;
}
#ul-5{
	clear: none;
	float: left;
	padding-left: 17px;
}
.t-0{
	height: 6px;
	background: green;
	width: 26px;
}
#block-2{
	clear: left;
	border: solid 2px black;
	margin-bottom: 22px;
}
#div-6{
	height: 10px;
	width: 28px;
	float: left;
	background: grey;
}
#ul-6{
	clear: none;
	float: left;
	padding-left: 3px;
}
#div-64{
	height: 67px;
	width: 119px;
	float: left;
	background: orange;
	margin-left: -138px;
}
#block-5{
	margin-right: 3px;
	margin-left: 27px;
	float: left;
	border: solid 2px black;
}
#div-16{
	height: 135px;
	width: 410px;
	background: grey;
}
.li-6{
	margin-top: 6px;
}
.nt-3{
	height: 8px;
	background: grey;
	width: 7px;
}
#block-3{
	clear: left;
	border: solid 2px black;
	margin-bottom: 2px;
}
#block-4{
	margin-right: 27px;
	float: left;
	border: solid 2px black;
}
#div-19{
	height: 7px;
	width: 48px;
	background: green;
	margin-top: 18px;
}
#div-14{
	height: 87px;
	width: 140px;
	float: left;
	background: grey;
}
#block-6{
	clear: left;
	border: solid 2px black;
	margin-bottom: 3px;
}
#div-18{
	height: 14px;
	width: 114px;
	background: grey;
	margin-top: 3px;
}
#div-65{
	height: 133px;
	width: 163px;
	background: orange;
	margin-top: -135px;
}
.nt-9{
	height: 37px;
	background: grey;
	width: 78px;
}
#block-7{
	clear: left;
	border: solid 2px black;
	margin-bottom: 5px;
}
#ul-2{
	clear: none;
	float: left;
	padding-left: 27px;
}
.t-2{
	height: 13px;
	background: green;
	width: 73px;
	margin-top: 1px;
}
.nt-8{
	height: 17px;
	background: grey;
	width: 18px;
	margin-top: 5px;
}
#ul-3{
	float: left;
}
.li-2{
	height: 30px;
	margin-left: 21px;
	float: left;
}
.li-3{
	height: 51px;
	margin-left: 4px;
	float: left;
}
.t-1{
	height: 6px;
	background: green;
	width: 12px;
}
.nt-7{
	height: 5px;
	background: grey;
	width: 15px;
	margin-top: -5px;
}
#ul-1{
	float: left;
}
#div-54{
	height: 26px;
	width: 131px;
	float: left;
	background: green;
	margin-left: -127px;
}
#block-8{
	clear: left;
	border: solid 2px black;
	margin-bottom: 11px;
}
.nt-4{
	height: 33px;
	background: grey;
	float: left;
	width: 33px;
}
.t-8{
	height: 40px;
	background: green;
	float: left;
	width: 249px;
	margin-left: 10px;
}
#ul-0{
	clear: none;
	float: left;
	padding-left: 63px;
}
.nt-5{
	height: 58px;
	background: grey;
	float: left;
	width: 103px;
}
.li-0{
	height: 33px;
	margin-top: 7px;
}
.t-7{
	height: 24px;
	background: green;
	float: left;
	width: 83px;
	margin-left: 6px;
}
.li-1{
	height: 59px;
	margin-top: 11px;
}
