ul{
	list-style: None;
	padding: 0;
	margin:0;
}#div-14{
	float: left;
	width: 10px;
	height: 5px;
	background: grey;
	margin-left: 7px;
}
#div-13{
	float: left;
	width: 85px;
	height: 8px;
	background: green;
	margin-left: 144px;
}
#block-1{
	margin-top: 0px;
	height: 9px;
	border: none;
	clear: left;
}
#div-1{
	float: left;
	width: 8px;
	height: 9px;
	background: grey;
}
.li-5{
	float: left;
	margin-right: 17px;
}
.t-4{
	width: 19px;
	height: 6px;
	background: green;
}
#ul-5{
	float: left;
	padding-left: 1px;
	clear: none;
}
#div-17{
	float: left;
	width: 38px;
	height: 13px;
	background: grey;
	margin-left: 76px;
}
#div-16{
	float: left;
	width: 301px;
	height: 22px;
	background: grey;
	margin-left: 23px;
}
#div-18{
	float: left;
	width: 15px;
	height: 10px;
	background: grey;
	margin-left: 19px;
}
#div-19{
	float: left;
	width: 14px;
	height: 6px;
	background: green;
	margin-left: 2px;
}
#div-15{
	float: left;
	width: 89px;
	height: 23px;
	background: green;
}
#block-2{
	margin-top: 10px;
	height: 23px;
	border: none;
	clear: left;
	margin-left: 21px;
}
#div-20{
	float: left;
	width: 28px;
	height: 10px;
	background: grey;
}
.li-4{
	float: left;
	margin-right: 18px;
}
#block-3{
	margin-top: 11px;
	height: 10px;
	border: none;
	clear: left;
	margin-left: 24px;
}
#ul-4{
	float: left;
	padding-left: 17px;
	clear: none;
}
.t-0{
	width: 26px;
	height: 6px;
	background: green;
}
#div-28{
	float: none;
	width: 140px;
	height: 87px;
	background: grey;
}
#block-9{
	margin-top: 18px;
	height: 7px;
	border: none;
	clear: left;
}
#block-5{
	float: left;
	height: 135px;
	border: none;
}
#block-4{
	margin-top: 22px;
	height: 136px;
	border: none;
	clear: left;
	margin-left: 23px;
}
#div-32{
	float: left;
	width: 13px;
	height: 14px;
	background: grey;
}
#block-7{
	height: 87px;
	border: none;
	clear: left;
}
#block-6{
	float: left;
	height: 129px;
	border: none;
	margin-left: 27px;
}
#div-35{
	float: left;
	width: 14px;
	height: 6px;
	background: grey;
	margin-left: 2px;
}
#block-10{
	float: left;
	height: 22px;
	border: none;
	margin-left: 3px;
}
#div-33{
	float: left;
	width: 97px;
	height: 7px;
	background: green;
	margin-left: 5px;
}
#div-29{
	width: 8px;
	height: 9px;
	background: grey;
}
#block-8{
	margin-top: 3px;
	height: 14px;
	border: none;
	clear: left;
}
#div-84{
	margin-top: -135px;
	width: 163px;
	height: 133px;
	background: orange;
}
#div-34{
	float: left;
	width: 32px;
	height: 7px;
	background: green;
}
#div-30{
	width: 410px;
	height: 135px;
	background: grey;
}
#div-31{
	margin-top: 6px;
	width: 7px;
	height: 7px;
	background: grey;
}
#div-83{
	height: 67px;
	background: orange;
	margin-top: -68px;
	float: none;
	width: 119px;
}
.li-3{
	float: left;
	height: 31px;
	margin-right: 21px;
}
.li-2{
	float: left;
	height: 51px;
	margin-right: 4px;
}
.t-2{
	margin-top: 1px;
	width: 73px;
	height: 13px;
	background: green;
}
#div-52{
	margin-top: -5px;
	width: 5px;
	height: 5px;
	background: grey;
}
.nt-9{
	margin-top: -5px;
	width: 6px;
	height: 5px;
	background: grey;
}
.t-1{
	width: 14px;
	height: 6px;
	background: green;
}
#div-50{
	margin-top: -5px;
	width: 6px;
	height: 5px;
	background: grey;
}
.nt-8{
	width: 78px;
	height: 37px;
	background: grey;
}
#ul-2{
	float: left;
}
#div-49{
	margin-top: 25px;
	width: 9px;
	height: 5px;
	background: grey;
}
#div-43{
	margin-top: -35px;
	width: 8px;
	height: 5px;
	background: grey;
}
#block-11{
	margin-top: 2px;
	height: 54px;
	border: none;
	clear: left;
	margin-left: 23px;
}
.nt-11{
	margin-top: 5px;
	width: 18px;
	height: 17px;
	background: grey;
}
#block-12{
	float: left;
	height: 36px;
	border: none;
	margin-left: 27px;
}
#div-60{
	float: left;
	width: 49px;
	height: 7px;
	background: green;
}
#block-16{
	margin-top: 5px;
	height: 7px;
	border: none;
	clear: left;
	margin-left: 461px;
}
#ul-1{
	float: left;
}
.nt-5{
	float: left;
	width: 103px;
	height: 58px;
	background: grey;
}
.t-12{
	float: left;
	width: 249px;
	height: 40px;
	background: green;
	margin-left: 10px;
}
.t-11{
	float: left;
	width: 83px;
	height: 24px;
	background: green;
	margin-left: 6px;
}
.li-0{
	margin-bottom: 7px;
	height: 33px;
}
.nt-3{
	float: left;
	width: 33px;
	height: 33px;
	background: grey;
}
#block-13{
	margin-top: 1px;
	height: 469px;
	border: none;
	clear: left;
	margin-left: 23px;
}
#block-14{
	float: left;
	height: 159px;
	border: none;
	margin-left: 64px;
}
#div-73{
	margin-top: 19px;
	width: 131px;
	height: 28px;
	background: green;
}
.li-1{
	margin-bottom: 11px;
	height: 59px;
}
#block-15{
	margin-top: 11px;
	height: 8px;
	border: none;
	clear: left;
	margin-left: 224px;
}
#div-82{
	float: left;
	width: 8px;
	height: 8px;
	background: grey;
}
.clip_img{
	display:none}
