ul{
	list-style: None;
	clear: left;
	padding-left: 0;
}.li-7{
	margin-left: 604px;
	float: left;
}
.t-0{
	background: green;
	height: 6px;
	width: 24px;
}
#ul-7{
	float: left;
}
#block-1{
	border: solid 2px black;
	margin-bottom: 10px;
	clear: left;
}
#ul-5{
	clear: none;
	padding-left: -613px;
	float: left;
}
.li-5{
	margin-left: 144px;
	float: left;
}
.nt-10{
	background: grey;
	height: 7px;
	width: 9px;
}
#div-19{
	background: green;
	height: 6px;
	float: left;
	margin-left: 2px;
	width: 14px;
}
.li-6{
	margin-left: 19px;
	float: left;
}
.nt-7{
	background: grey;
	height: 11px;
	width: 26px;
}
#ul-6{
	clear: none;
	padding-left: 76px;
	float: left;
}
#div-16{
	background: grey;
	height: 22px;
	float: left;
	margin-left: 23px;
	width: 301px;
}
#block-2{
	border: solid 2px black;
	margin-bottom: 11px;
	clear: left;
}
#div-15{
	background: green;
	height: 23px;
	float: left;
	width: 89px;
}
.li-4{
	margin-left: 18px;
	float: left;
}
#ul-4{
	clear: none;
	padding-left: 17px;
	float: left;
}
#div-20{
	background: grey;
	height: 10px;
	float: left;
	width: 28px;
}
.t-1{
	background: green;
	height: 6px;
	width: 26px;
}
#block-3{
	border: solid 2px black;
	margin-bottom: 22px;
	clear: left;
}
#ul-9{
	clear: none;
	padding-left: -130px;
	float: left;
}
#block-8{
	border: solid 2px black;
	margin-bottom: 3px;
	clear: left;
}
#block-5{
	border: solid 2px black;
	margin-right: 27px;
	float: left;
}
.t-3{
	background: green;
	height: 13px;
	margin-top: 1px;
	width: 73px;
}
#ul-8{
	clear: none;
	padding-left: 3px;
	float: left;
}
.t-2{
	background: green;
	height: 6px;
	width: 14px;
}
.li-9{
	margin-top: 142px;
}
.nt-6{
	background: grey;
	height: 37px;
	width: 78px;
}
.li-3{
	height: 31px;
	margin-left: 22px;
	float: left;
}
#ul-1{
	padding-top: 13px;
}
.t-11{
	background: green;
	height: 14px;
	width: 70px;
}
.nt-3{
	background: grey;
	height: 33px;
	float: left;
	width: 33px;
}
.nt-5{
	background: grey;
	height: 8px;
	width: 7px;
}
#block-10{
	border: solid 2px black;
	margin-top: 18px;
	margin-bottom: 18px;
	clear: left;
}
#div-84{
	background: orange;
	height: 133px;
	float: left;
	margin-left: -164px;
	width: 163px;
}
#div-43{
	background: grey;
	height: 5px;
	float: left;
	margin-left: 37px;
	width: 8px;
}
#block-9{
	border: solid 2px black;
	margin-top: 3px;
	margin-bottom: 18px;
	clear: left;
}
#div-83{
	background: orange;
	height: 67px;
	float: left;
	margin-left: -138px;
	width: 119px;
}
.li-1{
	height: 59px;
	margin-top: 11px;
}
#div-35{
	background: grey;
	height: 6px;
	float: left;
	margin-left: -100px;
	width: 14px;
}
#div-28{
	background: grey;
	height: 87px;
	float: left;
	width: 140px;
}
.li-8{
	margin-top: 6px;
}
#div-32{
	background: grey;
	height: 14px;
	float: left;
	width: 13px;
}
#div-33{
	background: green;
	height: 7px;
	float: left;
	margin-left: 5px;
	width: 97px;
}
.li-0{
	height: 33px;
	margin-top: 7px;
}
#div-30{
	background: grey;
	height: 135px;
	float: left;
	width: 410px;
}
#ul-0{
	clear: none;
	padding-left: -139px;
	float: left;
}
#block-6{
	border: solid 2px black;
	margin-bottom: 4px;
	clear: left;
}
.nt-9{
	background: grey;
	height: 17px;
	margin-top: 5px;
	width: 18px;
}
#ul-2{
	padding-top: 4px;
}
.nt-4{
	background: grey;
	height: 58px;
	float: left;
	width: 103px;
}
.t-12{
	background: green;
	height: 24px;
	float: left;
	margin-left: 6px;
	width: 83px;
}
.li-2{
	height: 51px;
	margin-left: 4px;
	float: left;
}
#ul-3{
	float: left;
}
#block-4{
	border: solid 2px black;
	margin-bottom: 11px;
	clear: left;
}
#block-7{
	border: solid 2px black;
	margin-right: 3px;
	margin-left: 27px;
	float: left;
}
.t-13{
	background: green;
	height: 40px;
	float: left;
	margin-left: 10px;
	width: 249px;
}
.nt-8{
	background: grey;
	height: 5px;
	margin-top: -5px;
	width: 6px;
}
.clip_img{
	display:none}
